<!-- #SUBJECT: Восстановление пароля в CoffeeConnect-->
<!doctype html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
<p>Здравствуйте, %name%.</p>
<p>Вы запросили восстановление пароля к вашей учетной записи в сервисе CoffeeConnect. Из соображений безопасности мы не можем восстановить прежний пароль, однако вы можете задать новый - для этого перейдите по ссылке <a href="%restorePasswordLink%">%restorePasswordLink%</a></p>
<p>Если же вы не запрашивали восстановление пароля – просто игнорируйте это письмо.</p>
%EMAIL_SIGNATURE%
</body>
</html>
